.reportes-container {
  padding: 2.5rem 3.5rem;
  background-color: #ffd8a1;
}

/* Cards Material con tu estilo */
.reporte-card {
  max-width: 1000px;
  margin: 0 auto 2.5rem auto;
  background-color: #FFEAAA;
  border: 4px solid #f3b45c;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  /* ⬅⬅ MÁS ESPACIO DENTRO DEL CARD */
  padding: 2.2rem 3rem 2.5rem;
}

/* Título dentro del card */
.titulo-card {
  display: block;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.25em;
  color: #5b2b06;
  margin: 0 0 1.8rem;
}

.chart-wrapper {
  position: relative;
  height: 320px;
  padding: 0.5rem 1rem 0.5rem;
}
